In [1]:
import pandas as pd

In [2]:
## import summer data
## one equal sign means you are assigning a value to something
dfs = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-summer.csv")
dfs.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN

In [3]:
## import winter data
dfw = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/olympics-winter.csv")
dfw.head()

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN

In [4]:
## In the summer dataframe, add "Season" column with the value "Summer"
dfs["Season"] = "summer"
dfs

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,summer
1,1724,Aristidis Akratopoulos,M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,summer
2,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Tennis,Tennis Men's Singles,NaN,summer
3,1725,"Konstantinos ""Kostas"" Akratopoulos",M,NaN,NaN,NaN,Greece-3,GRE,1896,Athina,Tennis,Tennis Men's Doubles,NaN,summer
4,4113,Anastasios Andreou,M,NaN,NaN,NaN,Greece,GRE,1896,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,summer
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,summer
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,summer
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,summer
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,summer

In [5]:
## In the winter dataframe, add "Season" column with the value "Winter"
dfw["Season"] = "winter"
dfw

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48559,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48560,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN,winter
48561,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN,winter
48562,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,winter
48563,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,winter

In [6]:
##join witner and summer dataframes together into a dataframe called df
df = pd.concat([dfw,dfs])

In [7]:
df

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,summer
222548,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,summer
222549,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,summer
222550,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,summer
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,summer

In [8]:
## the total number of rows was off. Correct for that
pd.concat([dfw, dfs], ignore_index = True)

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25.0,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26.0,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135528,Marc Zwiebler,M,32.0,181.0,75.0,Germany,GER,2016,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN,summer
271112,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN,summer
271113,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN,summer
271114,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,summer
271115,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,summer

In [9]:
## change it for Medal and Season
## note how much the memory usage decreased. This will speed up your queries 
df[["Medal", "Season"]] = df[["Medal", "Season"]].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271116 entries, 0 to 222551
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            271116 non-null  int64
 1   Athlete Name  271116 non-null  object
 2   Sex           271116 non-null  object
 3   Age           261642 non-null  float64
 4   Height        210945 non-null  float64
 5   Weight        208241 non-null  float64
 6   Team          271116 non-null  object
 7   NOC           271116 non-null  object
 8   Year          271116 non-null  int64
 9   City          271116 non-null  object
 10  Sport         271116 non-null  object
 11  Event         271116 non-null  object
 12  Medal         39783 non-null   category
 13  Season        271116 non-null  category
dtypes: category(2), float64(3), int64(2), object(7)
memory usage: 27.4+ MB

In [ ]:
##Challenge
## How many medals were handed out in winter games v. summer game (return both in absolutes and as a percentage)?
##Top 10 of gold medals by country
## Of these top 10, what percent of the gold medals do they have?##

In [10]:
## How many medals were handed out in winter games v. summer game (return both in absolutes and as a percentage)?
## First I think I need to search the medals column to figure out what's in there, so
list(df['Medal'].unique())

['Silver', nan, 'Bronze', 'Gold']

In [11]:
## I think I need to narrow the dataframe down to just those with Gold, Silver and Bronze
target_medals = ['Gold', 'Silver', 'Bronze']

In [12]:
## Now I have to create a dataframe that is  all the lines with the targeted medals. 
## I have questions about why the code is written in an illogical order.
## In plain English I am asking it to pull out taget_medals from the Medal column. So, why isn't the code in a logical order?
## In my thought process, the code should be something like df.query(@target_medals in Medal) Meaning, show me all the target
## medals in the Medal column. The correct code seems backwards to me.
df_medals = df.query("Medal in @target_medals")

In [13]:
df_medals

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23.0,185.0,102.0,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
5,1341,Johan Petter hln (Andersson-),M,44.0,NaN,NaN,Sweden,SWE,1924,Chamonix,Curling,Curling Men's Curling,Silver,winter
10,3872,William Harding Anderson,M,22.0,NaN,NaN,Great Britain,GBR,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,winter
11,4060,Georges Jules Andr,M,47.0,NaN,NaN,France,FRA,1924,Chamonix,Curling,Curling Men's Curling,Bronze,winter
13,5232,Thomas Alfred Arnold,M,22.0,NaN,NaN,Great Britain-1,GBR,1924,Chamonix,Bobsleigh,Bobsleigh Men's Four/Five,Silver,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222500,134857,Zhu Ting,F,21.0,198.0,78.0,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold,summer
222515,135132,Bojana ivkovi,F,28.0,186.0,72.0,Serbia,SRB,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver,summer
222518,135205,Shakhobiddin Shokirovich Zoirov,M,23.0,169.0,52.0,Uzbekistan,UZB,2016,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold,summer
222523,135245,Milenko Zori,M,27.0,179.0,73.0,Serbia,SRB,2016,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Doubles, 1,000 metres",Silver,summer
222546,135525,Martin Zwicker,M,29.0,175.0,64.0,Germany,GER,2016,Rio de Janeiro,Hockey,Hockey Men's Hockey,Bronze,summer

In [14]:
## How many medals were handed out in winter games v. summer game (return in absolutes)?
## I had to go through our in-class demos many times to figure out a possible solution. 
## I also needed to search online resources to figure out the correct syntax for the code. I think this is it:
medal_counts = df_medals['Season'].value_counts()

In [15]:
medal_counts

Season
summer    34088
winter     5695
Name: count, dtype: int64

In [16]:
## How many medals were handed out in winter games v. summer game (return in percentages)?
## out in f string code because I didn't want to see all of those decimal points
pd.options.display.float_format = '{:,.0f}'.format
medal_percentages = df_medals['Season'].value_counts(normalize=True) * 100

In [17]:
medal_percentages

Season
summer   86
winter   14
Name: proportion, dtype: float64

In [18]:
##Top 10 of gold medals by country
## First I need to narrow the dataframe to just gold
df_gold = df_medals.query("Medal == 'Gold'")

In [19]:
## Did it work?
df_gold

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
16,5932,Alfred Aufdenblatten,M,26,NaN,NaN,Switzerland,SUI,1924,Chamonix,Military Ski Patrol,Military Ski Patrol Men's Military Ski Patrol,Gold,winter
23,10435,Alfred Berger,M,29,NaN,NaN,Austria,AUT,1924,Chamonix,Figure Skating,Figure Skating Mixed Pairs,Gold,winter
45,15656,Charles Granville Bruce,M,57,NaN,NaN,Great Britain,GBR,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,winter
46,15659,John Geoffrey Bruce,M,27,NaN,NaN,Great Britain,GBR,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,winter
55,16457,Tejbir Bura,M,NaN,NaN,NaN,Nepal,NEP,1924,Chamonix,Alpinism,Alpinism Mixed Alpinism,Gold,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222477,134740,Zheng Shuyin,F,22,188,75,China,CHN,2016,Rio de Janeiro,Taekwondo,Taekwondo Women's Heavyweight,Gold,summer
222479,134759,Viktoriya Yuryevna Zhilinskayte,F,27,188,80,Russia,RUS,2016,Rio de Janeiro,Handball,Handball Women's Handball,Gold,summer
222483,134783,Zhong Tianshi,F,25,168,62,China,CHN,2016,Rio de Janeiro,Cycling,Cycling Women's Team Sprint,Gold,summer
222500,134857,Zhu Ting,F,21,198,78,China,CHN,2016,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Gold,summer
222518,135205,Shakhobiddin Shokirovich Zoirov,M,23,169,52,Uzbekistan,UZB,2016,Rio de Janeiro,Boxing,Boxing Men's Flyweight,Gold,summer

In [20]:
## Now I have to the dataframe of just gold medal winners to figure out the top ten country
df_gold["Team"].value_counts().head(10)

Team
United States    2474
Soviet Union     1058
Germany           679
Italy             535
Great Britain     519
France            455
Sweden            451
Hungary           432
Canada            422
East Germany      369
Name: count, dtype: int64

In [21]:
## Of these top 10, what percent of the gold medals do they have?
## I CAN'T FIGURE OUT HOW TO GET THE TOP 10. MY CODE KEEPS BREAKING IT, NO MATTER WHAT I TRY.
df_gold["Team"].value_counts(normalize=True) * 100

Team
United States          19
Soviet Union            8
Germany                 5
Italy                   4
Great Britain           4
                       ..
Syria                   0
Mozambique              0
Camille                 0
United Arab Emirates    0
Singapore               0
Name: proportion, Length: 242, dtype: float64

In [22]:
## TRYING SOMETHING ELSE
## THAT DIDN'T WORK
df_gold["Team"].value_counts(normalize=True).head(10)

Team
United States   0
Soviet Union    0
Germany         0
Italy           0
Great Britain   0
France          0
Sweden          0
Hungary         0
Canada          0
East Germany    0
Name: proportion, dtype: float64

In [23]:
## THIS DIDN'T WORK EITHER
df_gold["Team"].value_counts(normalize=True) * 100 .head(10)

AttributeError: 'int' object has no attribute 'head'

In [24]:
##TRIAL AND ERROR, IT WAS AN ORDER OF OPERATIONS THING
(df_gold["Team"].value_counts(normalize=True) * 100).head(10)

Team
United States   19
Soviet Union     8
Germany          5
Italy            4
Great Britain    4
France           3
Sweden           3
Hungary          3
Canada           3
East Germany     3
Name: proportion, dtype: float64

In [ ]:
## THAT WAS DIFFICULT